<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>
        <main class="container" style="padding: 3%;">
            <div class="card-columns">
                {% for review in reviews %}
                {{ review.full_name }}
                    <div class="card">
                        <img src="{{MEDIA_URL}}/emoji/{{review.sentiment}}.png" class="card-img-center" style="width: 50px; margin-bottom: 2%; margin-top: 2%;" />
                        <div class="card-body" style="text-align: center;background-color: #c6c6c633;border-top: 0.2rem solid;">
                            <p class="card-text">{{ review.car_make }}, {{ review.car_model }} - {{ review.car_year }}</p>
                            <h5 class="card-title">{{ review.review }}</h5>
                            <p class="card-text">{{ review.name }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </main>
    </body>

</html>